*{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #3697e2, #3953ba, #193f87);
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.main{
    width: 100%;
    display: flex; 
    flex-direction: row;  
    flex: 200px;
    flex-wrap: wrap;
}

h1{
    padding-top: 23px;
    padding-right: 2%;
    margin-bottom: 30px;
    text-align: center;
    font-size:  70px ;
    color: #ffffff;
}

.team-members{
    background: linear-gradient(to right, #78d0e0, #dbd364);
    flex: 1;
    margin:10px 5% 2.7% 3%;
    height:500px;
    width:20%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.team-members img {
    object-fit: cover;
    clip-path: circle(45% at center);
    border-radius: 10px;
    margin-left: 93px;
    margin-top: 15px;
    width: 285px;
    height: 344px;
}
.team-members h2{
    background: transparent;
    font-size:  32px ;
    color: rgb(255, 249, 249);
    text-align: center;
}

.githubclass{
    cursor: pointer;
    background:transparent;
    padding: 50px 50px 10px 14%;
    color:#ffffff !important ;
}